tools/autogenerate/device.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Device" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:int" name="DeviceObj_Location"/>
              <xs:element type="xs:int" name="DriverObj_Location"/>
              <xs:element type="xs:int" name="NextDeviceObj_Location"/>
              <xs:element type="xs:int" name="AttachedDeviceObj_Location"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>