trunk/tools/autogenerate/module.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Module" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Name"/>
              <xs:element type="xs:string" name="Path"/>
              <xs:element type="xs:long" name="Address"/>
              <xs:element type="xs:byte" name="EntryPoint"/>
              <xs:element type="xs:int" name="Size"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="resultitemtype" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>